In [12]:
# Import necessary packages
import pandas as pd,numpy as np, pickle
from sklearn import preprocessing

# Set the max display rows to 500
pd.set_option('display.max_rows', 500)

# Check pandas and numpy version
print('Pandas version:',pd.__version__)
print('Numpy version:',np.__version__)

Pandas version: 1.3.4
Numpy version: 1.21.2

In [2]:
movie_df = pd.read_csv('imdb - Copy.csv')
movie_df.head()

,Name,Date,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90,Film,R,-,None,None,Severe,None,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97,Film,PG-13,-,None,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155,Film,PG-13,-,None,Moderate,None,Mild,Moderate

In [3]:
# To make sense with the data in the 'Date' column, 
# we change the name of that column to 'Year'.
movie_df = movie_df.rename(columns={'Date':'Year'})

# Check the data frame info
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         6178 non-null   object
 1   Year         6178 non-null   int64
 2   Rate         6178 non-null   object
 3   Votes        6178 non-null   object
 4   Genre        6178 non-null   object
 5   Duration     6178 non-null   object
 6   Type         6178 non-null   object
 7   Certificate  6178 non-null   object
 8   Episodes     6178 non-null   object
 9   Nudity       6178 non-null   object
 10  Violence     6178 non-null   object
 11  Profanity    6178 non-null   object
 12  Alcohol      6178 non-null   object
 13  Frightening  6178 non-null   object
dtypes: int64(1), object(13)
memory usage: 675.8+ KB

In [4]:
# Check every rows for duplicate values. Have 'True' if have duplicates
movie_df.duplicated().unique()

array([False,  True])

In [5]:
new_df = movie_df.drop_duplicates()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5028 entries, 0 to 5027
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5028 non-null   object
 1   Year         5028 non-null   int64
 2   Rate         5028 non-null   object
 3   Votes        5028 non-null   object
 4   Genre        5028 non-null   object
 5   Duration     5028 non-null   object
 6   Type         5028 non-null   object
 7   Certificate  5028 non-null   object
 8   Episodes     5028 non-null   object
 9   Nudity       5028 non-null   object
 10  Violence     5028 non-null   object
 11  Profanity    5028 non-null   object
 12  Alcohol      5028 non-null   object
 13  Frightening  5028 non-null   object
dtypes: int64(1), object(13)
memory usage: 589.2+ KB

In [6]:
category_cols = ['Name','Genre',\
    'Type','Certificate','Nudity',\
    'Violence','Profanity','Alcohol','Frightening']
numerical_cols = ['Year','Rate','Votes',\
                'Duration','Episodes']

In [7]:
# Loop through category columns
# to see unique value in each columns.
for column in category_cols:
    uniqueValues = new_df[column].unique()
    print('Unique elements in column \'' + column + '\'')
    print(uniqueValues)
    print()

# Question need to ask: Should we ignore the column Genre

Unique elements in column 'Name'
['No Time to Die' 'The Guilty' 'The Many Saints of Newark' ...
 "Before the Devil Knows You're Dead" 'Queen Bees' 'Death Race']

Unique elements in column 'Genre'
['Action, Adventure, Thriller' 'Crime, Drama, Thriller' 'Crime, Drama'
 'Action, Adventure, Sci-Fi' 'Action, Adventure, Drama'
 'Comedy, Drama, Sport' 'Action, Adventure, Comedy'
 'Animation, Action, Adventure' 'Comedy, Drama' 'Drama, Horror, Thriller'
 'Crime, Drama, Mystery' 'Drama, Sci-Fi' 'Comedy, Crime, Drama' 'Comedy'
 'Drama, Romance' 'Action, Drama, History' 'Action, Fantasy, Mystery'
 'Action, Adventure, Fantasy' 'Drama' 'Action, Horror, Mystery'
 'Crime, Drama, Fantasy' 'Horror, Thriller' 'Horror, Mystery, Thriller'
 'Crime, Horror, Mystery' 'Drama, Mystery, Thriller'
 'Action, Crime, Drama' 'Biography, Drama, Musical'
 'Drama, Mystery, Sci-Fi' 'Action, Drama, Sci-Fi'
 'Animation, Adventure, Comedy' 'Comedy, Fantasy, Horror'
 'Drama, Horror, Sci-Fi' 'Biography, Crime, Drama' 'Crime'
 'Drama, Fantasy, Horror' 'Action, Adventure, Crime'
 'Drama, Horror, Mystery' 'Comedy, Family, Fantasy' 'Action, Drama'
 'Crime, Drama, Romance' 'Drama, Western' 'Comedy, Romance'
 'Comedy, Crime' 'Adventure, Comedy, Crime' 'Action, Sci-Fi, Thriller'
 'Adventure, Drama, Fantasy' 'Action' 'Comedy, Drama, Romance' 'Thriller'
 'Comedy, Fantasy' 'Adventure, Drama, Family' 'Drama, Thriller, Western'
 'Drama, Sci-Fi, Thriller' 'Biography, Drama, History'
 'Drama, Fantasy, Romance' 'Animation, Comedy' 'Drama, Musical'
 'Comedy, Drama, Thriller' 'Romance' 'Animation, Action, Comedy'
 'Drama, Sport' 'Action, Drama, Thriller' 'Western'
 'Adventure, Comedy, Family' 'Crime, Horror, Thriller' 'Drama, Mystery'
 'Horror, Mystery' 'Drama, Thriller' 'Crime, Mystery, Thriller'
 'Action, Drama, Mystery' 'Action, Sci-Fi' 'Biography, Comedy, Crime'
 'Action, Adventure, Mystery' 'Adventure, Family, Fantasy'
 'Biography, Drama, Romance' 'Drama, Musical, Romance'
 'Action, Crime, Thriller' 'Action, Crime, Mystery' 'Crime, Drama, Horror'
 'Horror' 'Action, Thriller' 'Action, Horror, Thriller'
 'Action, Adventure, Horror' 'Biography, Drama, Music'
 'Comedy, Drama, Fantasy' 'Action, Drama, Fantasy'
 'Animation, Family, Fantasy' 'Adventure, Drama, Sci-Fi'
 'Comedy, Horror, Musical' 'Adventure, Comedy, Drama'
 'Action, Comedy, Drama' 'Action, Drama, Horror' 'Crime, Drama, History'
 'Action, Drama, War' 'Action, Drama, Romance' 'Comedy, Horror'
 'Drama, Romance, Western' 'Drama, History' 'Adventure, Fantasy, Romance'
 'Mystery, Romance, Sci-Fi' 'Drama, Family' 'Comedy, Drama, Family'
 'Action, Comedy, Fantasy' 'Short, Horror, Sci-Fi' 'Drama, Horror'
 'Comedy, Drama, Sci-Fi' 'Comedy, Music' 'Drama, Fantasy, Mystery'
 'Fantasy, Horror' 'Comedy, Drama, Horror' 'Fantasy, Horror, Mystery'
 'Action, Comedy, Crime' 'Adventure, Drama, War' 'Drama, Music'
 'Animation, Comedy, Drama' 'Family, Fantasy, Horror'
 'Comedy, Crime, Mystery' 'Drama, History, Thriller'
 'Comedy, Mystery, Romance' 'Drama, Romance, Sport'
 'Animation, Drama, Family' 'Action, Mystery, Sci-Fi'
 'Adventure, Sci-Fi, Thriller' 'Action, Adventure, Biography'
 'Crime, Drama, Sci-Fi' 'Action, Comedy, Horror' 'Comedy, Mystery'
 'Action, Horror, Sci-Fi' 'Adventure, Comedy, Sci-Fi'
 'Horror, Mystery, Sci-Fi' 'Biography, Drama' 'Horror, Sci-Fi'
 'Adventure, Drama, Romance' 'Adventure, Thriller'
 'Drama, Family, Romance' 'Comedy, Drama, War' 'Action, Adventure'
 'Comedy, Drama, Mystery' 'Action, Crime, Horror'
 'Action, Adventure, Romance' 'Action, Horror' 'Drama, Romance, Thriller'
 'Biography, Comedy, Drama' 'Comedy, Drama, Music'
 'Animation, Action, Drama' 'Drama, War' 'Adventure, Drama, History'
 'Action, Biography, Drama' 'Comedy, Horror, Thriller' 'Mystery, Thriller'
 'Family, Fantasy' 'Adventure, Fantasy, Mystery' 'Comedy, Family, Horror'
 'Fantasy, Horror, Thriller' 'Adventure, Drama, Mystery'
 'Drama, Mystery, Romance' 'Short, Action, Thriller'
 'Adventure, Biography, Crime' 'Drama, Fantasy, Sci-Fi'
 'Adventure, Mystery, Sci-Fi' 'Drama, Romance, Sci-Fi' 'Comedy, Sci-Fi'
 'Animation, Adventure, Family' 'Comedy, Family, Romance' 'Comedy, Family'
 'Crime, Drama, Musical' 'Animation, Short, Action' 'Drama, Thriller, War'
 'Animation, Crime, Drama' 'Short, Mystery' 'Horror, Sci-Fi, Thriller'
 'Adventure, Horror, Sci-Fi' 'Adventure, Horror, Mystery'
 'Action, Adventure, Family' 'Animation, Comedy, Family' 'Reality-TV'
 'Comedy, Music, Romance' 'Drama, History, War'
 'Animation, Comedy, Sci-Fi' 'Crime, Thriller' 'Action, Mystery, Thriller'
 'Adventure, Comedy' 'Adventure, Drama' 'Adventure, Fantasy'
 'Adventure, Horror, Thriller' 'Drama, Fantasy' 'Adventure, Sci-Fi'
 'Family, Sci-Fi' 'Drama, Fantasy, Thriller' 'Adventure, Biography, Drama'
 'Comedy, Crime, Sport' 'Drama, Mystery, War'
 'Documentary, Crime, Mystery' 'Comedy, Fantasy, Mystery'
 'Animation, Adventure, Drama' 'Drama, Fantasy, War'
 'Comedy, Mystery, Sci-Fi' 'Action, Fantasy, Sci-Fi' 'Musical, Romance'
 'Comedy, Fantasy, Music' 'Drama, Music, Romance' 'Action, Comedy, Sci-Fi'
 'Comedy, Family, Sci-Fi' 'Crime, Horror' 'Action, Adventure, Western'
 'Comedy, Sport' 'Comedy, Romance, Sci-Fi' 'Drama, History, Romance'
 'Mystery, Sci-Fi, Thriller' 'Drama, Film-Noir'
 'Documentary, Reality-TV, Romance' 'Comedy, Crime, Romance'
 'Comedy, Crime, Thriller' 'Adventure, Comedy, Fantasy'
 'Adventure, Comedy, Romance' 'Adventure, Drama, Horror'
 'Animation, Short, Adventure' 'Animation, Comedy, Romance'
 'Comedy, Horror, Mystery' 'Documentary, Comedy'
 'Biography, Drama, Thriller' 'Comedy, Drama, Musical'
 'Biography, Drama, Sport' 'Comedy, Musical' 'Comedy, Fantasy, Romance'
 'Documentary, Reality-TV' 'Adventure, Game-Show, Reality-TV'
 'Comedy, Game-Show' 'Action, Fantasy, Thriller' 'Comedy, Drama, Western'
 'Fantasy, Sci-Fi, Thriller' 'Animation, Short, Sci-Fi'
 'Animation, Drama, Fantasy' 'Action, Drama, Family'
 'Action, Drama, Sport' 'Game-Show, Reality-TV'
 'Adventure, Drama, Thriller' 'Drama, Romance, War' 'Action, Comedy, War'
 'Comedy, Family, Music' 'Adventure, Comedy, Music'
 'Family, Fantasy, Musical' 'Comedy, Horror, Sci-Fi' 'Animation, Action'
 'Comedy, Musical, Romance' 'Drama, Horror, Musical'
 'Drama, Family, Fantasy' 'Sci-Fi, Thriller' 'Action, Comedy, Mystery'
 'Biography, Drama, Family' 'Animation, Family' 'Action, Thriller, War'
 'Action, Crime, Sci-Fi' 'Adventure, Horror' 'Action, Crime'
 'Action, Fantasy, Horror' 'Adventure, Drama, Western' 'Fantasy'
 'Drama, Family, Western' 'Crime, Horror, Western'
 'Action, Adventure, History' 'Drama, Horror, Music'
 'Animation, Adventure, Fantasy' 'Comedy, Horror, Romance'
 'Documentary, History, Reality-TV' 'Action, Crime, Fantasy' 'Talk-Show'
 'Comedy, Talk-Show' 'Action, Biography, Crime' 'Action, Comedy, Thriller'
 'Crime, Mystery, Sci-Fi' 'Drama, Comedy, Crime' 'Comedy, Western'
 'Mystery, Romance, Thriller' 'Comedy, Crime, Fantasy'
 'Drama, Horror, Western' 'Comedy, Drama, History' 'Comedy, War'
 'History, Sport' 'Action, Horror, War' 'Action, Drama, Western'
 'Action, Comedy' 'Game-Show, Music, Reality-TV' 'Animation, Drama, War'
 'Documentary' 'Adventure, Crime, Drama' 'Action, Comedy, Family'
 'Documentary, Drama, History' 'Adventure, Comedy, Reality-TV'
 'Fantasy, Mystery, Sci-Fi' 'Action, Comedy, Romance'
 'Crime, Fantasy, Horror' 'Fantasy, Mystery, Romance'
 'Crime, Horror, Sci-Fi' 'Family, Fantasy, Romance'
 'Comedy, Romance, Sport' 'Drama, Film-Noir, Mystery' 'Comedy, Reality-TV'
 'Crime, Drama, Music' 'Adventure, Fantasy, Sci-Fi' 'Animation, Drama'
 'Comedy, Mystery, Thriller' 'Documentary, Sport'
 'Drama, Family, Reality-TV' 'Short, Family' 'Comedy, History, News'
 'Adventure, Mystery, Thriller' 'Animation' 'Short, Drama, Romance'
 'Comedy, Crime, Musical' 'Crime, Drama, Western' 'Reality-TV, Romance'
 'Documentary, Horror' 'Crime, Mystery' 'Adventure, Comedy, History'
 'Drama, Family, Musical' 'Action, Comedy, Sport' 'Animation, Horror'
 'Action, Fantasy' 'Short, Drama' 'Family, Western' 'Biography'
 'Drama, Horror, Romance' 'Drama, Fantasy, History'
 'Animation, Crime, Mystery' 'Short, Action' 'Documentary, Short, Action'
 'Adventure, Comedy, Musical' 'Comedy, Family, Sport'
 'Adventure, Thriller, Western' 'Documentary, Biography, Drama'
 'Animation, Action, Crime' 'Animation, Action, Thriller'
 'Action, Western' 'Short, Adventure, Comedy'
 'Game-Show, Reality-TV, Romance' 'Adventure, Fantasy, Horror'
 'Action, Drama, Music' 'Documentary, Fantasy, History'
 'Family, Game-Show, Music' 'Family, Musical, Romance'
 'Drama, Romance, Mystery' 'Action, Romance, Thriller'
 'Comedy, History, War' 'Documentary, Biography, Comedy'
 'Animation, Drama, Music' 'Animation, Action, Horror'
 'Crime, Mystery, Romance' 'Sci-Fi' 'Crime, Mystery, Drama'
 'Comedy, Crime, Horror' 'Crime, Sci-Fi, Thriller' 'Music'
 'Crime, Romance, Thriller' 'Animation, Comedy, Fantasy'
 'Horror, Music, Thriller' 'Comedy, Crime, Family'
 'Comedy, Romance, Musical' 'Family, Game-Show, Reality-TV'
 'Action, Crime, Romance' 'Crime, Film-Noir, Mystery'
 'Biography, Drama, War' 'Crime, Drama, Sport' 'Comedy, Music, Musical'
 'Mystery, Romance' 'Drama, Music, Musical' 'Animation, Drama, Mystery'
 'Comedy, Romance, Western' 'Short, Comedy' 'Short, Action, Sci-Fi'
 'Romance, Sci-Fi, Thriller' 'Comedy, History' 'Comedy, Horror, Music'
 'History' 'Drama, Family, History' 'Family, Fantasy, Mystery'
 'Crime, Drama, Film-Noir']

Unique elements in column 'Type'
['Film' 'Series']

Unique elements in column 'Certificate'
['PG-13' 'R' 'TV-MA' 'None' 'TV-14' 'TV-PG' 'PG' 'TV-G' '(Banned)'
 'Not Rated' 'E' 'NC-17' 'TV-Y7-FV' 'TV-Y7' 'Unrated' 'Approved' 'G'
 'TV-Y' 'GP' 'Passed' 'M' 'X' 'M/PG']

Unique elements in column 'Nudity'
['Mild' 'None' 'Moderate' 'No Rate' 'Severe']

Unique elements in column 'Violence'
['Moderate' 'None' 'Severe' 'No Rate' 'Mild']

Unique elements in column 'Profanity'
['Mild' 'Severe' 'Moderate' 'None' 'No Rate']

Unique elements in column 'Alcohol'
['Mild' 'None' 'Moderate' 'No Rate' 'Severe']

Unique elements in column 'Frightening'
['Moderate' 'None' 'Mild' 'No Rate' 'Severe']

In [8]:
# Loop through category columns
# to see unique value in each columns.
for column in numerical_cols:
    uniqueValues = new_df[column].unique()
    print('Unique elements in column \'' + column + '\'')
    print(uniqueValues)
    print()

Unique elements in column 'Year'
[2021 2015 2006 2020 2018 2012 1993 1984 2008 1978 2019 1997 2022 1995
 1996 2017 1999 2013 1994 2001 2007 1991 2016 2000 1972 1988 2014 1975
 2005 2009 1981 2002 2010 2004 1980 1962 1982 1992 1998 1969 1990 1985
 2003 1973 1971 1974 1987 2011 1979 1964 1986 1963 1989 1976 1983 1960
 1977 1957 1966 1968 1965 1953 1967 1950 1939 1948 1942 1961 1941 1954
 2023 1931 1958 1946 1959 1956 1945 1935 1932 1927 1951 1922 1937 1952
 1970 1940 1955 1949 1933 1943 1944]

Unique elements in column 'Rate'
['7.6' '6.3' '6.4' '8.3' '8.8' '7.3' 'No Rate' '8.2' '7.9' '7.4' '9.2'
 '8.0' '7.5' '6.8' '7.7' '8.4' '8.1' '6.1' '4.8' '4.1' '6.5' '8.7' '5.2'
 '6.7' '7.8' '5.3' '8.5' '7.2' '9.4' '5.8' '6.9' '8.9' '6.6' '8.6' '5.5'
 '7.0' '6.2' '5.0' '9.3' '6.0' '5.9' '9.0' '3.3' '7.1' '4.2' '5.4' '4.9'
 '5.1' '9.1' '3.9' '4.6' '5.7' '4.3' '5.6' '4.4' '3.2' '2.7' '4.7' '3.7'
 '4.0' '3.4' '9.6' '3.8' '2.5' '4.5' '9.7' '2.8' '3.0' '9.5' '3.1' '1.2'
 '3.5' '2.4' '2.0' '2.3' '1.9' '2.9']

Unique elements in column 'Votes'
['107,163' '64,375' '27,145' ... '100,668' '887' '203,578']

Unique elements in column 'Duration'
['163 ' '90 ' '120 ' '97 ' '155 ' '30 ' '115 ' 'None' '45 ' '44 ' '50 '
 '55 ' '60 ' '22 ' '41 ' '57 ' '134 ' '152 ' '132 ' '107 ' '148 ' '144 '
 '42 ' '105 ' '96 ' '111 ' '98 ' '70 ' '112 ' '143 ' '93 ' '108 ' '51 '
 '49 ' '43 ' '85 ' '137 ' '106 ' '157 ' '58 ' '91 ' '103 ' '53 ' '130 '
 '87 ' '23 ' '113 ' '40 ' '110 ' '59 ' '353 ' '102 ' '104 ' '88 ' '46 '
 '64 ' '116 ' '194 ' '146 ' '24 ' '114 ' '139 ' '170 ' '99 ' '52 ' '62 '
 '86 ' '161 ' '127 ' '92 ' '164 ' '140 ' '117 ' '136 ' '180 ' '142 '
 '122 ' '28 ' '121 ' '72 ' '181 ' '124 ' '119 ' '101 ' '150 ' '118 '
 '566 ' '175 ' '48 ' '76 ' '169 ' '100 ' '89 ' '109 ' '25 ' '151 ' '242 '
 '47 ' '138 ' '126 ' '82 ' '153 ' '135 ' '133 ' '154 ' '178 ' '54 ' '81 '
 '145 ' '165 ' '176 ' '95 ' '149 ' '128 ' '84 ' '229 ' '94 ' '129 ' '77 '
 '141 ' '123 ' '32 ' '158 ' '195 ' '285 ' '125 ' '159 ' '185 ' '83 '
 '162 ' '21 ' '7 ' '189 ' '27 ' '160 ' '78 ' '15 ' '156 ' '131 ' '201 '
 '510 ' '35 ' '31 ' '209 ' '75 ' '183 ' '202 ' '20 ' '56 ' '198 ' '147 '
 '172 ' '11 ' '168 ' '296 ' '36 ' '328 ' '179 ' '80 ' '79 ' '166 ' '188 '
 '13 ' '167 ' '238 ' '26 ' '191 ' '16 ' '187 ' '207 ' '415 ' '261 ' '29 '
 '12 ' '280 ' '71 ' '228 ' '593 ' '38 ' '39 ' '900 ' '192 ' '14 ' '2 '
 '220 ' '18 ' '65 ' '63 ' '33 ' '212 ' '197 ' '9 ' '73 ' '210 ' '74 '
 '69 ' '270 ' '177 ' '461 ' '174 ' '582 ' '561 ' '4 ']

Unique elements in column 'Episodes'
['-' '23' '10' '18' '25' '177' '6' '11' '86' '116' '174' '384' '73' '9'
 '72' '93' '20' '41' '29' '5' '420' '17' '36' '31' '30' '34' '37' '32'
 '62' '38' '59' '502' '188' '202' '35' '235' '153' '327' '52' '75' '323'
 '80' '96' '24' '4' '232' '132' '98' '126' '8' '250' '280' '60' '200' '7'
 '61' '173' '22' '14' '63' '47' '119' '87' '731' '336' '157' '113' '76'
 '45' '44' '135' '208' '90' '89' '65' '171' '134' '19' '101' '16' '176'
 '50' '165' '154' '245' '217' '39' '331' '46' '110' '221' '92' '239' '376'
 '27' '146' '26' '100' '145' '33' '262' '124' '995' '192' '457' '15' '156'
 '225' '117' '311' '12' '240' '170' '68' '104' '222' '94' '915' '53' '182'
 '136' '81' '13' '271' '168' '264' '28' '138' '77' '121' '287' '213' '187'
 '108' '91' '195' '84' '57' '40' '78' '179' '151' '21' '125' '635' '204'
 '251' '49' '180' '70' '155' '103' '64' '42' '163' '133' '74' '160' '51'
 '128' '194' '115' '95' '220' '97' '67' '207' '322' '292' '56' '289' '71'
 '148' '112' '43' '82' '123' '58' '111' '140' '105' '249' '246' '139' '69'
 '210' '109' '696' '99' '158' '258' '609' '227' '55' '107' '356' '230'
 '385' '193' '85' '3' '255' '66' '197' '254' '102' '215' '147' '120' '106'
 '88' '430' '212' '244' '48' '149' '114' '288' '164' '14301' '2404' '261'
 '6955' '284' '369' '243' '203' '372' '281' '380' '277' '274' '181' '172'
 '8002' '224' '54' '12277' '375' '1186' '178' '10336' '7675' '130' '8365'
 '268' '294' '144' '79' '236' '196' '209' '175' '141' '1234' '199' '339'
 '122' '503' '1230' '167' '143' '152' '219' '161' '201' '304' '478' '4050'
 '137' '127' '129' '159' '2257' '312' '9059' '576' '211' '8036' '131'
 '510' '118' '295' '1608']

In [9]:
# Drop rows with specifc value(s)

# Kepp new_df (as backup) and create new_df2
new_df2 = new_df[new_df['Rate'] != 'No Rate']
new_df2 = new_df2[new_df2['Votes'] != 'No Votes']
new_df2 = new_df2[new_df2['Duration'] != 'None']

# According to Wikipedia, 
# if a film has not been submitted for a rating \
# or is an uncut version of a film that was submitted,\
# the labels Not Rated (NR) or Unrated (UR) are often used
# so we will keep rows with "Not Rated" or "Unrated".
# We delete rows with 'None' value, which is equal to Null value
new_df2 = new_df2[new_df2['Certificate'] != 'None']


# Clean the leftover columns with "No rate" value
new_df2 = new_df2[new_df2['Nudity'] != 'No Rate']
new_df2 = new_df2[new_df2['Violence'] != 'No Rate']
new_df2 = new_df2[new_df2['Profanity'] != 'No Rate']
new_df2 = new_df2[new_df2['Alcohol'] != 'No Rate']
new_df2 = new_df2[new_df2['Frightening'] != 'No Rate']

new_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4255 entries, 0 to 5027
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         4255 non-null   object
 1   Year         4255 non-null   int64
 2   Rate         4255 non-null   object
 3   Votes        4255 non-null   object
 4   Genre        4255 non-null   object
 5   Duration     4255 non-null   object
 6   Type         4255 non-null   object
 7   Certificate  4255 non-null   object
 8   Episodes     4255 non-null   object
 9   Nudity       4255 non-null   object
 10  Violence     4255 non-null   object
 11  Profanity    4255 non-null   object
 12  Alcohol      4255 non-null   object
 13  Frightening  4255 non-null   object
dtypes: int64(1), object(13)
memory usage: 498.6+ KB

In [23]:
new_df2.head()

,Name,Year,Rate,Votes,Genre,Duration,Type,Certificate,Episodes,Nudity,Violence,Profanity,Alcohol,Frightening
0,No Time to Die,2021,7.6,"107,163","Action, Adventure, Thriller",163,Film,PG-13,-,Mild,Moderate,Mild,Mild,Moderate
1,The Guilty,2021,6.3,"64,375","Crime, Drama, Thriller",90,Film,R,-,None,None,Severe,None,Moderate
2,The Many Saints of Newark,2021,6.4,"27,145","Crime, Drama",120,Film,R,-,Moderate,Severe,Severe,Moderate,Moderate
3,Venom: Let There Be Carnage,2021,6.4,"30,443","Action, Adventure, Sci-Fi",97,Film,PG-13,-,None,Moderate,Moderate,Mild,Moderate
4,Dune,2021,8.3,"84,636","Action, Adventure, Drama",155,Film,PG-13,-,None,Moderate,None,Mild,Moderate

In [13]:
#Export cleaned_df to csv file
#new_df2.to_csv('new_df2.csv')

<!-- le = preprocessing.LabelEncoder()
le.fit(df.fruit)
df['categorical_label'] = le.transform(df.fruit) -->

In [46]:
# Transforming string value to numerically categorical value 
test_df = new_df2[['Nudity','Violence',\
    'Profanity','Alcohol','Frightening','Type','Certificate']]
le = preprocessing.LabelEncoder()
for col in ['Nudity','Violence',\
    'Profanity','Alcohol','Frightening','Type','Certificate']:
    le.fit(test_df.loc[:,col])
    test_df[col+'_category'] = le.transform(test_df.loc[:,col])

test_df.head()

C:\Users\baoma\AppData\Local\Temp/ipykernel_11916/2624015051.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[col+'_category'] = le.transform(test_df.loc[:,col])

,Nudity,Violence,Profanity,Alcohol,Frightening,Type,Certificate,Nudity_category,Violence_category,Profanity_category,Alcohol_category,Frightening_category,Type_category,Certificate_category
0,Mild,Moderate,Mild,Mild,Moderate,Film,PG-13,0,1,0,0,1,0,10
1,None,None,Severe,None,Moderate,Film,R,2,2,3,2,1,0,12
2,Moderate,Severe,Severe,Moderate,Moderate,Film,R,1,3,3,1,1,0,12
3,None,Moderate,Moderate,Mild,Moderate,Film,PG-13,2,1,1,0,1,0,10
4,None,Moderate,None,Mild,Moderate,Film,PG-13,2,1,2,0,1,0,10

In [47]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4255 entries, 0 to 5027
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Nudity                4255 non-null   object
 1   Violence              4255 non-null   object
 2   Profanity             4255 non-null   object
 3   Alcohol               4255 non-null   object
 4   Frightening           4255 non-null   object
 5   Type                  4255 non-null   object
 6   Certificate           4255 non-null   object
 7   Nudity_category       4255 non-null   int32
 8   Violence_category     4255 non-null   int32
 9   Profanity_category    4255 non-null   int32
 10  Alcohol_category      4255 non-null   int32
 11  Frightening_category  4255 non-null   int32
 12  Type_category         4255 non-null   int32
 13  Certificate_category  4255 non-null   int32
dtypes: int32(7), object(7)
memory usage: 511.3+ KB

In [1]:
# import pickle
# import pandas as pd
# from sklearn.model_selection import train_test_split
# from sklearn.ensemble import RandomForestRegressor

# df_train = pd.read_csv('cleaned_train.csv')


# # Separating X and y
# X = df_train.drop('SalePrice', axis=1)
# y = df_train['SalePrice']

# # Build random forest model
# model = RandomForestRegressor(n_estimators=100, criterion='mae')
# model.fit(X, y)

# # Saving the model
# pickle.dump(model, open('house_price_model.pkl', 'wb'))